.text-container {
    width: 100%;
    padding: 5em 10em;
    display: flex;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    color: darkslategray;
}

h3 {
    text-align: center;
    margin-bottom: 1em;
}

img {
    margin-top: 2em;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.form {
    padding: 2.5% 5% ;
    background-color: rgb(171, 160, 145);
    margin: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 10%;
}

input {
    height: 2.5em;
}

textarea {
    height: 10em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

button {
    background-color: darkslategray;
    color: azure;
    font-weight: bold;
    height: 3em;
    border-radius: 6px;
    align-self: center;
    width: 30%;
    border: none;
}

button:hover {
    background-color: rgb(169,177,180);
}
